html, body {    
    margin: 0;
    padding: 0;
    height: 100%;
}

footer {
    background-color: gray;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
}

#home{
    margin: 0;
    height: 100%;
    background-image: url("assets/homeBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#regSch{
    margin: 2%;
    background-image: url("assets/regSchBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

hr{
    width: 70%;
}

form{
    color: black;
}

.card {
    height: 100%;
}

.card > .card-body {
    display: grid;
}

.card > .card-body > a {
    margin: auto 10%;
}

.breadcrumb-content {
    color: white;
    font-size: large;
}

.navbar-brand {
    color: rgb(229, 226, 226) !important;
    font-size: medium;
}

.key-value {
    display: flex;
}

.key-value > div {
    width: 50%;
    text-align: end;
}

.key-value > div:last-child {
    padding-left: 20px;
    text-align: start;
}